.card{
    margin-top: 40px;
    margin-right: 50px;
    height: 70px;
    min-height: 50px;
    width:100px ;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    z-index: 103;
    padding: 20px;
    text-align: center;
    outline:none;
    border-radius: 1rem;
    overflow: hidden;
}